# Ignore log files
client.log
server.log
worker.log

Ignore hashcat files
hashcat.bin
example.dict
OpenCL
charsets
docs
extra
kernels
layouts
masks
modules
rules
tools
tunings
example0.cmd
example0.hash
example0.sh
example400.cmd
example400.hash
example400.sh
example500.cmd
example500.hash
example500.sh
hashcat.exe
hashcat.hcstat2
hashcat.log
